:root {
    --bg-base: #334;
    --bg-mantle: #223;
    --bg-crust: #112;

    --text-normal: #eed;
    --text-subtextPrimary: #eed;
    --text-subtextSecondary: #eed;

    --error: #eed;
    --warning: #eed;
    --success: #eed;
}

body { 
    @apply h-screen;
    background: var(--bg-base);
    color: var(--text-normal);
}

a {
    text-decoration: none;
    color: var(--text-normal);
}